* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* h1,
h2, */
html,
body {
  margin: 0;
  padding: 0;
}



.title {
  font-size: 2rem;
}

.max-width-wrapper {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

header {
  font-size: 2rem;
  padding: 96px 0px 64px 32px;
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 4px solid hsl(0deg, 0%, 30%);
}

.intro-chunk p {
  max-width: 300px;
  font-size: 1.25rem;
}

.intro-chunk strong {
  color: hsl(0deg, 0%, 40%)
}

body {
  background-color: hsl(0deg, 0%, 60%);
}

main {
  padding: 64px 0px 64px 0px;
}

.card {
  /* padding-top: 1px; */
  /* padding: 1px 100px 1px 100px; */
  padding: 8px 32px 8px 32px;
  background-color: hsl(0deg, 0%, 100%);
}

.indented-heading {
  margin: 0px 0px 0px -48px;   /* Q: if I only set margin-left, a margin top and bottom is added, WHY? */
  font-size: 1.25rem;
  max-width: fit-content;
  /* margin-inline-start: -32px; */
  padding: 8px 48px 8px 48px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 4px solid hsl(45deg, 100%, 40%)

}

/* .card p {
} */